.svg {
  height: 20px;
}

body {
  background: #838080;
}

.test{
  background: url("../main/imgAcceuil/fem1.jpg") no-repeat center/cover;
}

.test h1, .test1 h1{
  color: #fff;
  font-family: Merienda one, sans-serif;
}
h1{
  color: #fff;
  font-family: Merienda one, sans-serif;
}
